.level-select-container {
    height: 100vh; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.level-select-title {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    margin-bottom:4rem;
    text-align: center;
}

.level-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.level-option {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    color: #282c34;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    margin: 1em;
    border-radius: 4px;
    transition: background 0.3s;
}

.level-option:hover {
    background: white;
}



.background-half {
    max-width: 90vw;
    background-color: #282c34; /* Or any other color */
    padding: 2em;
    border-radius: 1rem;
}
