/* Quiz.css */
.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.3rem;
}

.center-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

@media (min-width: 576px) {
    .quiz-container {
        height: 100vh;
    }
    .quiz-container.center-vertically {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.quiz-header {
    background-color: rgba(60, 126, 250, 0.428);
    padding: 1.2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.question-title {
    font-size: 1.5rem;
  }
  
  @media (max-width: 576px) { /* Adjust the breakpoint as needed */
    .question-title {
      font-size: 1rem;
    }
  }
  
.btn-group {
    margin-top: 1rem;
}

.btn-group-vertical h5 {
    color: white;
    margin: 0.5rem;
}

.quiz-footer {
    text-align: center;
    margin-top: 1rem;
}

.quiz-icon {
    color: #dbd751;
    font-size: 24px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .quiz-icon:hover {
    transform: scale(1.2);
  }
  
  .fixed-bottom {
    position: fixed;
    bottom: 5rem; /* Increase the distance from the bottom */
    left: 0;
    right: 0;
}
  
  .fixed-bottom-buttons {
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
  }
  .answer-button {
    max-height: 70px; /* Adjust this value to control the max height of the answer buttons */
    overflow-y: auto;
    text-align: left;
}

.btn-group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (min-width: 576px) {
    .btn-group-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    padding: 2rem; /* Removing padding so the buttons will be to the left and right */
    z-index: 10; /* Add this property to ensure buttons appear above other elements */
  }
  
  .button-left {
    float: left;
  }
  
  .button-right {
    float: right;
  }
  
  /* Extra Small Devices, Phones */
  @media only screen and (max-width : 480px) {
    .btn {
      padding: .5rem .75rem;
      font-size: .875rem;
      line-height: 1.5;
      border-radius: .2rem;
    }
  }
  

