/* Quiz.css */
.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1.3rem;
    /* Set a max-height instead of fixed height */
    max-height: 400px;
    /* Enable scrolling based on content size */
    overflow-y: auto;
}

/* ... the rest of your CSS ... */


.quiz-header {
    background-color: rgba(60, 126, 250, 0.428);
    padding: 1.2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.question-title {}

.btn-group {
    margin-top: 1rem;
}

.btn-group-vertical h5 {
    color: white;
    margin: 0.5rem;
}

.quiz-footer {
    text-align: center;
    margin-top: 1rem;
}

.quiz-icon {
    color: #dbd751;
    font-size: 24px;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .quiz-icon:hover {
    transform: scale(1.2);
  }
  