td {
    max-width: 200px; /* Or whatever max-width you want */
    overflow: auto; /* Or 'hidden' if you prefer */
    word-wrap: break-word; /* This will break words onto the next line */
  }
  
  .table-cat {
  }