
.li, h2{
    color:rgba(60, 126, 250, 0.483);
}

.logo {
  width: 10rem;
  border-radius: 0cm;
  border: 1px none #ccc;
  transition: all 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1);
  border-radius: 1cm;
  border-color: #999;
}

.logo:active {
  transform: scale(0.9);
  transition: all 0.08s ease-in-out;
  border-color: #ccc;
}


.li {
    font-size: 1.2rem;
    font-weight: 400;
}

.user-icon {
    color: rgb(60, 126, 250);
    font-size: 1.6rem;
    transition: all 0.2s ease-in-out;

}


/* @media screen and (max-width: 767px) {
    .fixed-end {
      position: fixed;
      right: 10px;
      bottom: 10px;
      z-index: 1;
   
    }
} */

.btn-logout {
    color: rgb(60, 126, 250);
margin-right: 6px;
}


/* dropdown menu */
.dropdown {

    position: absolute;
    top:120px;
    right: 20px;
    background-color: rgba(60, 126, 250, 0.688);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.34);
    padding: 2px;
    z-index: 999;
  }
  
  .dropdown ul {
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: white;

  }
  
  .dropdown ul li {
    margin-bottom: 0px;
    color: white;

  }
  
  .dropdown ul li a {
    text-decoration: none;
    color: white;
  }
  